<div mainBorder>
    <h3>Translator</h3>    
    <app-auto-resizable-text-area 
        #toTranslate
        [(value)]="inputText" 
        (valueChange)="onUserInput()"
        (heightChange)="onTextAreasHeightChange(1, $event)"
        placeholder="Enter text to translate">
    </app-auto-resizable-text-area>
    <app-auto-resizable-text-area 
        #translated
        [value]="responseData"
        (heightChange)="onTextAreasHeightChange(2, $event)"
        placeholder="Translation"
        [readonly]="true">
    </app-auto-resizable-text-area>
</div>