textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    line-height: 1.4;
    resize: none;
    border: none;
    margin: 0;
    vertical-align: top;
    border-radius: 0 0 .5rem .5rem;
    caret-color: transparent;    
    background-color: var(--card-primary);
}

textarea:focus {
    outline: none;    
}

.text-input-area-container {
    position: relative;
    height: 96%;
}

.input-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.input-inside-textarea {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0 0 .5rem .5rem;   
    background-color: var(--card-secondary); 
    padding: 10px;
    font-size: 16px;
    color: var(--text-primary);
    box-shadow: 0px -1px 0.25rem var(--box-shadow);
}
