textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.4;
    resize: none;
    border: none;
    margin: 0;
    vertical-align: top;
    border-radius: 0 0 .5rem .5rem;
    caret-color: transparent;    
    background-color: var(--card-primary);
}

textarea:focus {
    outline: none;    
}

.text-input-area-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
