.card-header {
    padding: .8rem;
    border-bottom: 1px solid var(--card-secondary);
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    caret-color: transparent;
}

.btn-expand {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--btn-primary);
    outline: none;
}

.btn-expand:hover {
    color: var(--btn-hover);
}