.card {    
    border-radius: .5rem;    
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0 .75rem var(--box-shadow);
    background-color: var(--card-primary);
    transition: all .5s ease;
}

.expanded-card {
    height: 88vh !important;
    width: 75vw;
}

.card-body {
    position: relative;    
    display: flex;
    flex-direction: column;
}

.code-editors {
    position: relative;
    z-index: 1; /* This will place it below the text-input-area */
    flex-grow: 1; /* This makes .code-editors grow to take up the remaining space */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-input-area {
    position: absolute; 
    bottom: 0;
    width: 100%;
    z-index: 2; /* This will place it above the code-editors */
}

::ng-deep .code-editors * {
    transition: none !important; /* Remove transitions for the monaco-editor component*/
}
