.card {
    height: 240px;
    border-radius: .5rem;    
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0 .75rem var(--box-shadow);    
    background-color: var(--card-primary);    
}

.expanded-card {
    height: 90vh;
    width: 75vw;
}