.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 1rem;
}

.google-signin-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #444;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 2rem;    
}

.google-signin-button img {
    margin-right: 10px;
}

.google-signin-button:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: #f7f7f7;
}
