textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 50%;
    box-sizing: border-box;
    height: 150px;
    resize: none;
    padding: 15px;    
    line-height: 1.4;
    resize: none;
    border: none;        
    transition: box-shadow 0.3s ease;
    margin: 0;
    vertical-align: top;
}

textarea:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
