<div *ngIf="!displayLoginScreen; else loginTemplate">
  <app-sidenav 
    (onToggleSidenav)="onToggleSidenav($event)">
  </app-sidenav>
  <app-body 
    [collapsed]="isSidenavCollapsed" 
    [screenWidth]="screenWidth">
  </app-body>
</div>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>

<!--

Using <router-outlet> like this here instead of just displaying the app-login component conditionally, 
is more flexible, scalable, and decouples the login logic from the main app component. 
It's preferable so that other routes related to authentication can be added easily (register, forgot password, etc.).

-->