.sidebar {    
    position: relative;
    background-color: #F1F1F1;    
    padding: 1px 0 1px 0;
    height: calc(100vh - 81px);
    border-right: 1px solid #ccc;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li button {
    display: flex;
    border: none; 
    align-items: center;    
    cursor: pointer;
    width: 100%;
    padding: 10px 0 10px 0;
}

.sidebar nav ul li button:hover {
    background-color: #ddd; /* This will make the list items get darker when hovered over */
}

mat-icon {
    padding-left: 20px;
}

.menu-text {
    padding: 2px 0 0 10px;    
}

.toggle-collapse-button {    
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 0;
    cursor: pointer;
}

hr {
    position: absolute;
    width: 100%;
    bottom: 45px;
    left: 0px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
}