<aside class="sidebar" [@sidebarState]="isCollapsed ? 'collapsed' : 'expanded'">    
    <nav>
      <ul>
        <li>
          <button class="menu-button" mat-icon-button>
            <mat-icon>home</mat-icon>
            <span *ngIf="!isCollapsed" class="menu-text">Menu Item 1</span>
          </button>
        </li>
        <li>
          <button class="menu-button" mat-icon-button>
            <mat-icon>star</mat-icon>
            <span *ngIf="!isCollapsed" class="menu-text">Menu Item 2</span>
          </button>
        </li>
        <li>
          <button class="menu-button" mat-icon-button>
            <mat-icon>settings</mat-icon>
            <span *ngIf="!isCollapsed" class="menu-text">Menu Item 3</span>
          </button>
        </li>       
      </ul>
      <hr>
      <button class="toggle-collapse-button" (click)="toggleCollapse()">
        <mat-icon *ngIf="!isCollapsed">west</mat-icon>
        <mat-icon *ngIf="isCollapsed">east</mat-icon>
      </button>
    </nav>
</aside>
