<div class="card">
    <widgets-card-header 
        [headerText]="title" 
        [isExpanded]="isExpanded"
        (onCopy)="copyOutput()"
        (expansionToggled)="toggleExpansion()"
        [isProgrammingCardHeader]="true">
    </widgets-card-header>
    <div #cardBody class="card-body" 
        [style.height]="cardBodyHeight + 'px'"
        [ngClass]="{ 'expanded-card': isExpanded }">
        <div class="code-editors">
            <widgets-code-editor 
                #inputCodeEditor 
                [(ngModel)]="codeInput">
            </widgets-code-editor>
            <widgets-code-editor 
                #outputCodeEditor 
                [(ngModel)]="codeOutput" 
                [readonly]="true"
                [height]="codeEditorHeight + 'px'">
            </widgets-code-editor>
        </div>        
        <widgets-loading-overlay [isLoading]="isLoading"></widgets-loading-overlay>
        <div class="text-input-area">
            <widgets-text-input
                [readonly]="true"
                [(ngModel)]="textInput"                              
                [parentHeight]="cardBodyHeight"
                (heightChanged)="handleInputHeightChanged($event)"
                (inputSubmitted)="handleInputSubmit()">
            </widgets-text-input>
        </div>
    </div>
</div>