.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.login-box {
    background-color: var(--card-secondary);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--box-shadow);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: var(--text-secondary)
}

.login-box h2 {
    margin-bottom: 1rem;
    color: var(--text-primary)
}

.google-signin-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: var(--text-primary);
    background-color: var(--item-active-primary);
    border: 1px solid var(--item-active-secondary);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 2rem;    
}

.google-signin-button img {
    margin-right: 10px;
}

.google-signin-button:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: var(--item-hover-primary);
}
