.select-widget-container {
  border-radius: .5rem;  
  width: 45vw;
  height: 55vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--card-primary);
  box-shadow: 0 0 .75rem var(--box-shadow);
}

// SEARCH & CATEGORIES FILTER

h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: var(--text-primary)
}

.filters {
  display: flex;
  justify-content: space-between;  
  margin-top: 10px;  
}

.search,
.category-filter {
  flex: 1;
  color: var(--text-secondary);
}

input {
  padding-left: 5px;
}

::ng-deep .mat-mdc-select-panel {
  background-color: var(--card-secondary) !important; 
  color: var(--text-primary);  
  transition: all .25s ease;
}

.custom-option:hover {    
  background-color: var(--item-hover-secondary) !important;  
}

// WIDGETS LIST

.widgets-list-container {
  overflow: auto;
  flex-grow: 1;
  overflow-x: hidden;
  cursor: pointer;
}

.widget-info {  
  margin-top: 5px;
  margin-bottom: 5px;  
  padding: 10px;  

  h4 {
    margin: 0;
    font-size: 1.1em;
    color: var(--text-primary);
  }

  p {
    margin-top: 2px;
    font-size: 0.9em;
    color: var(--text-secondary);
  }
}

.widget-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  transition: all .25s ease;
}

.widget-row:hover {
  background-color: var(--item-hover-primary);
}

.checkbox {
  color: var(--text-secondary); 
}

// ACTIONS

.btn-add-container {
  text-align: right;
  background-color: var(--card-secondary);
  border-radius: 0 0 .5rem .5rem;
}

/* select-widget-dialog.component.scss */

.btn-add {
  padding: 8px 15px; // Reduced padding for a more compact look
  background-color: var(--btn-bg-primary); // Example background color, adjust as needed
  color: white; // Text color
  border: none; // No border
  border-radius: 3px; // Slightly rounded corners for a compact feel
  cursor: pointer; // Pointer cursor on hover
  font-weight: bold; // Bold text
  font-size: 14px; // Smaller font size for a more compact look
  transition: filter 0.25s;
  margin: 10px;

  &:hover {
    filter: brightness(0.9);
  }

  &:focus {
    outline: none; // Remove outline on focus for a clean look
  }

  // You can also add responsiveness or disable effects
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
