@import "sun-and-moon.scss";

.theme-toggle {
  --size: 1.8rem;
  --icon-fill: hsl(0, 2%, 9%);
  --icon-fill-hover: hsl(0, 0%, 0%);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
  
  @media (hover: none) {
    --size: 48px;
  }
}

.dark-theme {
  --icon-fill: hsl(207, 16%, 89%);
  --icon-fill-hover: hsl(0, 0%, 100%);
}