<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''" color="primary" >
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">AI</button>
        <div class="logo-text" @fadeInOut *ngIf="!collapsed">AIde</div>        
    </div>
    <ul class="sidenav-nav">
        <li *ngFor="let data of navData" 
            class="sidenav-nav-item"
            [class.sidenav-nav-simple-item]="!isSubmenu(data)"
            [class.sidenav-nav-submenu]="isSubmenu(data)"
            [class.sidenav-nav-submenu-active]="isSubmenu(data) && isSubmenuActive(data)"
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">
            <a class="sidenav-nav-link"
                [class.submenu-toggle]="isSubmenu(data)" 
                [routerLink]="!isSubmenu(data) ? data.routerLink : null"
                (click)="isSubmenu(data) ? toggleSubmenu(data.label) : null">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">
                    {{ data.label }}
                </span>
                <i *ngIf="isSubmenu(data) && !collapsed" @fadeInOut 
                    class="sidenav-link-caret fa-solid fa-caret-down"
                    [@rotateCaret]="submenuCollapsed[data.label] ? 'down' : 'up'"></i>
            </a>
            <ul *ngIf="isSubmenu(data)"
            [@slideVertically]="submenuCollapsed[data.label] ? 'hidden' : 'visible'"
            class="sidenav-nav-submenu-items">
                <li *ngFor="let childData of data.children">
                    <a class="sidenav-nav-submenu-item sidenav-nav-link"
                        [routerLink]="childData.routerLink"
                        routerLinkActive="active">
                        <i class="sidenav-link-icon" [class]="childData.icon"></i>
                        <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">
                            {{ childData.label }}
                        </span>
                    </a>
                </li>
            </ul> 
        </li>
    </ul>
    <hr style="position:absolute; bottom: 55px; width: 100%;">
    <div class="sidenav-bottom">        
        <app-theme-toggle *ngIf="!collapsed" class="btn-theme" @fadeInOut>            
        </app-theme-toggle>
        
        <button class="btn-collapse"
            (click)="toggleCollapse()"
            [@slideHorizontallyAndRotate]="collapsed">
            <i class="fa-solid fa-arrow-left"></i>
        </button>        
    </div>
</div>
