@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;    
}

body * {
    transition: all .5s ease;

    button, i {
        transition: none;
    }
}

h1 {
    margin: 0;
    color: var(--text-primary)
}

h3 {
    margin: 0 0 10px 0;    
    font-weight: 500;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: var(--background);
    transition: all .5s ease;
}

body {
    /* Text */
    --text-primary: rgb(34,34,34);
    --text-secondary: rgb(60,60,60);
    --text-hover: rgb(18, 145, 195);
    --text-active: rgb(9, 138, 189);
    
    /* Sidenav */
    --sdnv-primary: rgb(255, 255, 255);    

    /* Button */
    --btn-primary: rgb(94,94,94);
    --btn-active: rgb(31,31,31);
    --btn-hover: rgb(31,31,31);
    --btn-bg-primary: rgb(57, 172, 231);

    /* Card */
    --card-primary: rgb(250, 250, 250);
    --card-secondary: rgb(235,235,235);

    /* General */
    --background: rgb(242, 243, 243);    
    --box-shadow: #aaaaaa;
    --item-active-primary: rgb(230, 231, 238);
    --item-active-secondary: rgb(209, 211, 223);
    --item-hover-primary: rgb(215, 218, 231);
    --item-hover-secondary: rgb(197, 202, 227);
}

body.dark-theme {
    /* Text */
    --text-primary: rgb(228,230,235);
    --text-secondary: rgb(176,179,184);
    --text-hover: rgb(2, 116, 187);
    --text-active: rgb(0, 115, 187);
    
    /* Sidenav */
    --sdnv-primary: rgb(24,24,24);    

    /* Button */
    --btn-primary: rgb(100, 100, 100);
    --btn-active: rgb(215,215,215);
    --btn-hover: rgb(215,215,215);
    --btn-bg-primary: rgb(7, 135, 215);

    /* Card */
    --card-primary: rgb(30,30,30);
    --card-secondary: rgb(40,40,40);

    /* General */
    --background: rgb(45,45,45);    
    --box-shadow: #0b0b0b;
    --item-active-primary: rgb(35,35,35);
    --item-active-secondary: rgb(45,45,45);
    --item-hover-primary: rgb(42,45,46);
    --item-hover-secondary: rgb(62, 64, 64);
}

.error-snackbar {
    background-color: #9b1c1c; /* Dark red */
    color: #fff; /* White */
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
    text-align: center;

    button {
        background-color: #891b1b;

        &:hover {
            background-color: #7f1818;
        }
    }
}

// SCROLLBAR

/* WebKit browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--card-secondary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--text-primary) var(--card-secondary);
}
