@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;    
}

body * {
    transition: all .5s ease;

    button, i {
        transition: none;
    }
}

h1 {
    margin: 0;
    color: var(--text-primary)
}

h3 {
    margin: 0 0 10px 0;    
    font-weight: 500;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: var(--background);
    transition: all .5s ease;
}

body {
    /* Text */
    --text-primary: rgb(34,34,34);
    --text-secondary: rgb(60,60,60);
    
    /* Sidenav */
    --sdnv-primary: rgb(239, 239, 239);
    --sdnv-item-active-primary: rgb(228,230,241);
    --sdnv-item-active-secondary: rgb(187, 188, 190);
    --sdnv-item-hover-primary: rgb(242,242,242);
    --sdnv-item-hover-secondary: rgb(250, 250, 250);

    /* Button */
    --btn-primary: rgb(94,94,94);
    --btn-active: rgb(31,31,31);
    --btn-hover: rgb(31,31,31);
    --btn-bg-primary: rgb(0,122,255);

    /* Card */
    --card-primary: rgb(239, 239, 239);
    --card-secondary: rgb(229,229,229);

    /* General */
    --background: #fff;    
    --box-shadow: #b6bdcd;
}

body.dark-theme {
    /* Text */
    --text-primary: rgb(228,230,235);
    --text-secondary: rgb(176,179,184);
    
    /* Sidenav */
    --sdnv-primary: rgb(24,24,24);
    --sdnv-item-active-primary: rgb(35,35,35);
    --sdnv-item-active-secondary: rgb(45,45,45);
    --sdnv-item-hover-primary: rgb(42,45,46);
    --sdnv-item-hover-secondary: rgb(62, 64, 64);

    /* Button */
    --btn-primary: rgb(100, 100, 100);
    --btn-active: rgb(215,215,215);
    --btn-hover: rgb(215,215,215);
    --btn-bg-primary: rgb(0,122,255);

    /* Card */
    --card-primary: rgb(30,30,30);
    --card-secondary: rgb(40,40,40);

    /* General */
    --background: rgb(45,45,45);    
    --box-shadow: #0b0b0b;
}